.new-game-form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.room-options {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.room-options-checkbox {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.test-audio-button {
  position: absolute;
  top: 0;
  right: 0;
}
