.all-shake-players {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}

.button-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shake-player-avatar {
  display: flex;
  flex-direction: column;
}

.answers {
  display: flex;
  justify-content: center;
}

.wrapper {
  padding-right: 50px;
  position: relative;
  perspective: 40em;
  transform-style: preserve-3d;
}

.card {
  min-height: 200px;
  min-width: 200px;
  transform: translateX(10px) rotateY(15deg) rotateX(10deg);
  background-color: rgba(255, 255, 255, 0.88);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 30px;
  color: #000;
  backface-visibility: hidden;
  box-shadow: 0 10px 30px -3px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.card.reversed {
  transform: translateX(10px) rotateY(-15deg) rotateX(10deg);
}

.card h1 {
  font-size: 50px;
  font-weight: 900;
}

.player-scores {
  background-color: rgba(0, 0, 0, 0.5);
  max-width: 700px;
  margin: auto;
  border-radius: 25px;
  padding: 20px;
}

.player-scores-container {
  display: flex;
  justify-content: space-evenly;
}

.player-scores-column {
  flex: 1 1 150px;
  margin: 10px;
}

.points-gained {
  color: greenyellow;
}

.popular-answer {
  font-size: 50px;
  font-weight: 700;
  max-width: 700px;
}

.popular-answer-submitter {
  color: whitesmoke;
}

.prompt {
  font-weight: 700;
  padding: 50px;
}

.submitter {
  color: whitesmoke;
}

.start-game-buttons-container {
  font-size: 50px;
  font-weight: 700;
  margin-top: 20px;
}

.start-new-game-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  min-width: 220px;
  padding: 10px;
}

.uploaded-image {
  margin: auto;
  max-height: 300px;
  max-width: 700px;
}

.vote-instructions {
  padding-top: 40px;
}

.voters {
  font-size: 40px;
  font-weight: 700;
  margin-top: 50px;
  max-width: 500px;
}

.losing-answer {
  border: 10px solid red;
  background-color: rgba(255, 196, 181, 0.88);
}

.submit-form-button {
  background-color: white;
  border: 1px solid gray;
  border-radius: 5px;
  height: 50px;
  margin-top: 20px;
  font-size: 24px;
  padding: 0;
  width: 290px;
}

.submit-form-button:hover {
  background-color: darkgreen;
  border: 1px solid gray;
  color: white;
}

.winning-answer {
  background-color: white;
  border: 10px solid greenyellow;
}

.quiplash-text {
  top: 0;
  right: 0;
  position: absolute;
  padding: 10px;
  font-weight: 700;
  color: green;
}

.winning-quiplash {
  animation: quiplash-border 0.5s linear alternate infinite;
}

@keyframes quiplash-border {
  0% {
    border: 10px solid greenyellow;
  }
  50% {
    border: 10px solid rgb(193, 255, 100);
  }
  100% {
    border: 10px solid rgb(221, 255, 170);
  }
}

@media (min-width: 1024px) {
  .card {
    min-width: 400px;
    max-width: 700px;
  }
}
