.connected-player {
  background-color: rgba(0, 0, 0, 0.5);
  max-width: 400px;
  margin: 20px;
  border: 5px solid green;
  border-radius: 5px;
  padding: 10px;
}

.connected-players {
  font-size: 30px;
  font-weight: 700;
  margin: 10px;
}

.empty-player-slot {
  border: 5px dashed gray;
  color: yellow;
}

.lobby-room-code-text {
  color: gray;
  display: inline-block;
  font-size: 40px;
  font-weight: 700;
  user-select: none;
}

.lobby-room-instructions {
  font-size: 50px;
  padding: 20px;
}

.room-code {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  color: lightgreen;
  display: inline-block;
  font-size: 60px;
  font-weight: 900;
  margin-left: 30px;
  padding: 10px;
}

.room-url {
  font-size: 60px;
  font-weight: 700;
  text-decoration: underline;
}

.quick-links-container {
  position: absolute;
  top: 0;
  left: 0;
}

.quick-links-container a {
  color: white;
  opacity: 0.15;
  text-decoration: none;
}

.start-game-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
}

.instructions-cell {
  max-width: 500px;
  width: 50%;
}

.players-cell {
  width: 50%;
}

@media (min-width: 1024px) {
  .connected-players {
    margin: 30px;
  }

  .instructions-cell {
    max-width: unset;
    width: 66%;
  }

  .players-cell {
    width: 34%;
  }
}
