body {
  font-size: 24px;
  background: linear-gradient(to bottom right, #330050 15%, transparent),
    radial-gradient(circle at 100% 0%, rgba(255, 255, 255, 0.2) 10%, transparent 20%) center center / 15px 15px,
    linear-gradient(to bottom right, #3c4bbd, #57add8);
  color: white;
  height: 100vh;
  /* Fallback for browsers that do not support Custom Properties */
  text-align: center;
}

h1 {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
  padding: 10px;
}

h2 {
  font-size: 20px;
  margin: 0;
  padding-bottom: 2%;
}

@media (min-width: 640px) {
  h1 {
    font-size: 40px;
    padding-top: 30px;
    padding-bottom: 20px;
  }

  h2 {
    font-size: 30px;
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 80px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  h2 {
    font-size: 50px;
  }
}