body {
  font-size: 24px;
  background: linear-gradient(to bottom right, #330050 15%, transparent),
    radial-gradient(circle at 100% 0%, rgba(255, 255, 255, 0.2) 10%, transparent 20%) center center / 15px 15px,
    linear-gradient(to bottom right, #3c4bbd, #57add8);
  color: white;
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  text-align: center;
}

h1 {
  font-size: 30px;
  font-weight: 700;
  margin: 0;
  padding-top: 50px;
  padding-bottom: 50px;
}

h2 {
  font-size: 20px;
  margin: 0;
}

.form-input {
  border: 1px solid white;
  border-radius: 5px;
  color: black;
  font-size: 18px;
  padding: 5px;
}

.form-input.player {
  font-size: 32px;
  margin: 20px;
  max-width: 200px;
}

.form-label {
  display: block;
  font-size: 32px;
  font-weight: 700;
  margin-top: 10px;
}

.player-button {
  background-color: white;
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 40px;
  margin: 20px;
  min-height: 70px;
  min-width: 220px;
  padding-left: 20px;
  padding-right: 20px;
}

/** Only apply hover effects to non-mobile devices */
@media (hover: hover) {
  .player-button:hover {
    background-color: darkgreen;
    border: 1px solid gray;
    color: white;
  }
}

.submit-form-button {
  background-color: white;
  border: 1px solid gray;
  border-radius: 5px;
  height: 50px;
  margin-top: 20px;
  font-size: 24px;
  padding: 0;
  width: 220px;
}

.submit-form-button:hover {
  background-color: darkgreen;
  border: 1px solid gray;
  color: white;
}

@media (min-width: 640px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 30px;
  }

  .form-input.player {
    max-width: 400px;
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 80px;
  }

  h2 {
    font-size: 50px;
  }

  .form-input.player {
    max-width: unset;
  }

  .player-button {
    margin: 40px;
  }
}
