body {
  font-size: 24px;
  background: linear-gradient(to bottom right, #330050 15%, transparent),
    radial-gradient(circle at 100% 0%, rgba(255, 255, 255, 0.2) 10%, transparent 20%) center center / 15px 15px,
    linear-gradient(to bottom right, #3c4bbd, #57add8);
  color: white;
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  text-align: center;
}

h1 {
  font-size: 30px;
  font-weight: 700;
  margin: 0;
  padding-top: 50px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 50px;
}

h2 {
  font-size: 20px;
  margin: 0;
}

.quick-links-container {
  position: absolute;
  top: 0;
  left: 0;
}

.quick-links-container a {
  color: white;
  opacity: 0.15;
  text-decoration: none;
}

@media (min-width: 640px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 30px;
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 80px;
  }

  h2 {
    font-size: 50px;
  }
}
